* {
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display:flex;
    gap: 8px;
    list-style: none;
}

/* I could've used a div here */
header,  body, footer {
    margin: 0;
}

header, footer {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: #002B36;
    color: #839496;

}
