* {
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display:flex;
    gap: 20px;
    list-style: none;
}

li {
    font-size: 1.5em;
    font-weight: bold;
}

/* I could've used a div */
header,  body, footer {
    margin: auto;
    display:flex;
    flex-flow: column nowrap;
}

header, footer {
    width:100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: space-between;
    background-color: #002B36;
    color: #839496;
}

footer {
    text-align: center;
}

.header-hero-btn {
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    font-weight: 900;
    width: 100px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 8px;
    text-align:center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

img {
    border-radius: 40px;
}

figcaption {
    display:flex;
    justify-content: center;
    max-width: 150px;
    text-align: center;
}

.body-text {
    display:flex;
    justify-content: center;
    margin-bottom: 60px;
}

.body-content {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.body-img {
    width: 180px;
    height:180px;
    object-fit: cover;
    margin-bottom: 16px;
    border: 3px #3882F6 solid;
}

.body-photo {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: column nowrap;
}

.body-quote {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #E5E7EB;
    margin-top: 32px;
    padding: 0 580px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.body-quote-cite {
    text-align: right;
    padding-bottom: 16px;
    margin-left: auto;
    padding-right: 16px
}

.logo {
    font-size: 18px;
    color: white;
    font-weight: 900;
}

.links {
    font-size: 16px;
    color:white;
}

.header-top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color:#073642;
}

.header-hero {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    color:white;
}

.header-hero-text {
    width:400px;
    padding: 16px;
}

.body-text {
    color: black;
}

.body-signup {
    display:flex;
    align-items: center;
    flex-flow: row nowrap;
    padding: 20px 60px;
    line-height: 20px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    margin: 90px 450px;
}

.body-signup-strong {
    font-weight: 900;
    margin: 30px 0px 0px 20px;
}

.body-signup-paragraph {
    margin: 5px 30px 30px 20px;
}

.body-signup-btn-div {
    margin: 0px 50px;
}

.body-signup-btn {
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    height: 100%;
    min-width: 100px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    text-align:center;   
}

footer {
    padding: 20px;
}